{% extends 'base.html'%}
{% load static %}
{% block content %}
	<div class="container-fluid">
		<h3 class="text-center"> KẾT QUẢ THI</h3>
		<div class="row">
			<div class="row" style="width: 90%; margin-left: 5%;">
			<div class="col-4">
				<div class="listQuestion border border-primary rounded">
					<span >Câu hỏi</span>
					<div class="row text-center">
					</div>	
				</div>
				<div class="border border-primary rounded timeCount">
					Thời gian làm bài: <span class="spanCountDown"></span><br>
					Số câu đúng: <span class="spanCountDown"></span><br>
					Số câu sai: <span class="spanCountDown"></span><br>
					Kết quả: <span class="spanCountDown"></span><br>
				</div>	
				<div class="border border-primary rounded timeCount text-center">
					<button class="btn btn-info" id="" type="button" form="">Home</button>
					<button class="btn btn-info" id="" type="button" form="">Examp agian</button>
				</div>
				<div class="border border-info rounded comment2">
					<span>10 Bình luận hàng đầu</span><br>
					<span>Sắp xếp theo:</span> 
					<input type="radio" name="new" >  <label for="new">Mới Nhất</label>  
					<input type="radio" name="new">  <label for="new">Nhiều Like</label> 
					<div id="contentComment"> 
					{% for comment in listComment %}
						<div class="row" >
							<div class="col-3">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmYxBq3_IN4hEMn0u6Ql_BAPdCUUGYT_uC9Q0kUYQ4o7BYGLMx&s" alt="avatar"  style="width: 50px; height: 50px; border-radius:50%; ">
							</div>
							<div class="col-9">
								<span>{{ comment.idUser.name }}</span><br>
								<span>{{ comment.comment }}</span><br>
								<span style="font-size: 12px; font-weight:inherit;color:#138496  ">{{ comment.time }}</span><a style="font-size: 12px;margin-left: 20px; " href="#">like</a> <i style="color: blue" class="fas fa-thumbs-up"></i>
							</div>
							
						</div>

					{% endfor%}
					</div>
					<div class="row">
						<div class="col-1">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmYxBq3_IN4hEMn0u6Ql_BAPdCUUGYT_uC9Q0kUYQ4o7BYGLMx&s" alt="avatar"  style="width: 50px; height: 50px; border-radius:50%; ">
						</div>
						<div class="col-11">
							<form class="form" id="formComment" method="POST" action="">
								{% csrf_token %}
								<input type="hidden" name="inputHiddenUser" value="{{ request.user.id}}" id="inputHiddenUser">
								<textarea class="form-control" id="textareaComment"></textarea>
							</form>
							<button class="btn btn-outline-success" type="button" style="margin-top: 10px;" id="btnSendComment">Send Comment</button>

						</div>
						
					</div>
				</div>	
			</div>

			<form method="POST" action="{% url 'examp'%}" id="formMain" class="col-8 border border-primary rounded">
			{% csrf_token %}
			{% for listQ in listQuestion %}
				<div class="mainQuestion {{forloop.counter}} ">
					<input type="" name="" value="{{ listQ.id }}" id="inputIdQuestion" class="d-none">
					<input type="" name="" value="{{forloop.counter}}" id="inputIndex" class="d-none">
					<input type="" name="" value="" id="inputValueQuestion{{listQ.7}}" class="d-none">
					<span style="color: #138496; font-weight: bold;">Câu hỏi :{{forloop.counter}} </span>  <br>
					<span class="font-weight-bold">{{ listQ.content }}</span><br>
					{% if listQ.link is not None %}
						<img src="/statics/{{ listQ.link }}" alt="imgQuestion">
					{% endif%}
					
					<div class="listAnser d-block">
						<input type="checkbox" name="valueAnser{{ listQ.6}}[]" id="valueAnser{{ listQ.6}}" value="1">  {{ listQ.anserFirst }} <br>
						<input type="checkbox" name="valueAnser{{ listQ.6}}[]" id="valueAnser{{ listQ.6}}" value="2">  {{ listQ.anserSecond }} <br>
						<input type="checkbox" name="valueAnser{{ listQ.6}}[]" id="valueAnser{{ listQ.6}}" value="3">  {{ listQ.anserThird }}
					</div>
					<div class="d-flex justify-content-between buttonNextPrev">
						<button class="btn btn-info btnPrev" type="button">Prev Question</button>
						<button class="btn btn-info btnNext" type="button">Next Question</button>
					</div>
				</div>
					
			{% endfor %}
			</form>		
			</div>
			<div class="col-9">
				
			</div>
		</div>
	</div>
{% endblock%}