{% extends 'base.html'%}
{% load static %}
{% block content %}
	<div class="container">
    		<div class="row">
    			<div class="col-7 " >
    				<img  class = "imgBackgroud" src="{% static 'images/background4.jpg'%}">
    			</div>
    			<div class="col-5 d-block  body_content ">
    				<div class="title_home">THI ONLINE </br> BẰNG LÁI XE A1</div>
    				<div>lorem ..</div>
    				<a type="button" class="btn btn-info" href="{% url 'main' %}" id="btnStart">Start Now</a> 
    			</div>	
    		</div>
    	</div>
{% endblock %}